/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: black;
  color: white;
}
#headerbackground {

  height: 400px;
  width: 100%;
  position: relative;
  background-image: url(http://wallpapercave.com/wp/hkWe2SK.jpg);
  border-style: dotted;
  border-width: thin;




}
#anume {
  position: relative;
  top: -80px;
  padding: 0;
  margin: 0 auto;
  font-family: precious;
  font-size: 120px;
  color: lightblue;
  text-shadow: 3px 2px white;
}
#talk {
  position: relative;
  top: 0px;
  padding: 0;
  margin: 0 auto;
  text-decoration:underline;
}

#table {
  display: block;
}
table, td {
  border-style: outset;
  border: 1px solid white;


}

#hidden {
  display: none;
}
#hidden2 {
  display: none;
}
#headerbackground:hover {
  border-width: thick;
  border-style: solid;
  border-color: lightblue;



  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

a:link:hover {
  color: lightblue;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}


.clearfix {
overflow: auto;
zoom: 1;

}


#commentTable {

}

a:visited {
  color: white;
}
a {
  color: lightblue;
  height: 100px;
  width: 100px;
}
h1 {
  font-family: amarillo;
  font-size: 40px;
}

h1:hover {
  text-shadow: 2px 2px lightblue;
}

h2 {
  padding: 0;
  margin: 0;

}
.button1 {
  background-color: black;
  height: 30px;
  width: 50px;
}

td img {
  height: 175px;
  width: 175px;
}
