
body {
  background-color: black;
  color: white;
}
#headerbackground {

  height: 400px;
  width: 100%;
  position: relative;
  background-image: url(http://wallpapercave.com/wp/hkWe2SK.jpg);

  border-width: thin;




}
#anume {
  position: relative;
  top: -80px;
  padding: 0;
  margin: 0 auto;
  font-family: precious;
  font-size: 120px;
  color: lightblue;
  text-shadow: 3px 2px white;
}
#talk {
  position: relative;
  top: 0px;
  padding: 0;
  margin-top: -20px auto;

}

#table {
  display: block;
}
table, td {
  border-style: outset;
  border: 1px solid white;


}

#hidden2 {
  display: none;
}
/*#hidden {
  display: none;
}*/
#headerbackground:hover {
  border-width: thick;
  border-style: solid;
  border-color: lightblue;



  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

a:link:hover {
  color: lightblue;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}


.clearfix {
overflow: auto;
zoom: 1;

}


#commentTable {

}

a:visited {
  color: white;
}
a {
  color: lightblue;
  height: 100px;
  width: 100px;
}
h1 {
  font-family: futura;
  font-size: 40px;
}

h1:hover {
  text-shadow: 2px 2px lightblue;
}

h2 {
  padding: 0;
  margin: 0;

}
.button1 {
  background-color: black;
  height: 30px;
  width: 50px;
}

td img {
  height: 175px;
  width: 175px;
}
